<header class="header">
	<h1 class="title">Drupal 101</h1>
</header>
<noscript>
	<div class="noscript">
		This site uses JavaScript.  Please enable JavaScript or upgrade your browser to view this website.
	</div>
</noscript>
<div class="step-container" id="j-step-container">
	<div class="opener-text">
		<span class="eight">8</span>
		<span class="getting-started">Getting Started</span>
		<span class="tips">Tips</span>
	</div>
	{{ content }}
</div>