<figure class="step">
  <div class="step__count activate_step" data-activate="{{ content.field_step }}">{{ content.field_step }}</div>
  <div class="step__title">{{ label }}</div>
  <div class="step__description">
    {{ content.body }}

    <div class="step__exit deactivate_step">
      <a class="deactivate_step_bar"></a>
    </div>
  
   <div class="activate_next_step" data-activate="{{ content.field_step }}">
    <div class="next_container">
      <a class="activate_step_bar"></a>
     </div>
    </div>

</figure>


